<p id="notice"><%= notice %></p>

<%= smart_listing_render(:locations) %>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>License</th>
      <th>License type</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Beer</th>
      <th>Wine</th>
      <th>Liquor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.license %></td>
        <td><%= location.license_type %></td>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.phone %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= location.beer %></td>
        <td><%= location.wine %></td>
        <td><%= location.liquor %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
