<!DOCTYPE html>
<html>
  <head>
    <title>DrinkFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
  <div class="container">
  <div class="fa fa-flag"></div>
  <%= link_to root_path, class: "btn btn-success" do %>
    <div class="fa fa-flag"></div>
    Homepage
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
